<div class="container-base hRedContainerHeader">
  <label>Sobre</label>
</div>

<div class="container-base hSubBlueContainer-about">
  <div class="about-contact-head">
    <div class="contact-about-height-label">
      <p class="panel-label-size" style="color: rgb(95, 95, 95)">Plataforma voltada a cursos online.</p>
    </div>

    <div class="about-contact-text-about">
      <p class="panel-text-size" style="color: rgb(95, 95, 95)">O Objetivo central desta aba sobre é informar, ou seja, instruir o cliente
        sobre 'O QUE?', 'COMO' ou até mesmo o 'POR QUE?' seu curso existe, desta forma uma conexão maior é estabelecida entre fornecedor e comprador,
        assim, possivelmente o número de vendas tende a ser maior graças a está pagina.</p>
    </div>

  </div>


</div>
