<div class="container-base hRedContainerHeader">
  <label>Contato</label>
</div>

<div class="container-base hSubBlueContainer">

  <div class="about-contact-head">
    <div class="contact-about-height-label" style="height:100px;">
      <p class="panel-label-size" style="color: rgb(95, 95, 95)">Entre em contato.</p>
    </div>

    <div class="about-contact-text-cont" style="width: 70%;">

      <p class="panel-text-size" style="color: rgb(95, 95, 95)">Em caso de problemas relacionados ao curso,
        sejam elas quaisquer que sejam,<br> entre em contato com o Whatsapp abaixo. <br><i class="fa fa-hand-o-down" aria-hidden="true"></i></p>

    </div>

    <div class="about-contact-text-cont-whats" style="background-color: #6cb575; ">
    <i style="font-size: 50px;" href="https://api.whatsapp.com/send?phone=5543988457219" class="fa fa-whatsapp whatsIcon" aria-hidden="true"></i>
    </div>

  </div>


</div>
