@media (max-width: 1800px) and (min-width: 961px){

  .hSubBlueContainer-cursos{
    height: 1000px;
    background-color: #E4F9FF;
  }




}

@media (max-width: 1440px) and (min-width: 961px){

  .container-video{
    height:770px;
    width: 100%;
    background-color: #E4F9FF;
    padding: 140px 90px 140px 480px;
  }

  .widthButton{
    width: 0%!important;
  }



}




@media (max-width: 1200px){



}

@media (max-width: 1200px){

  .showList{
    display: none;
  }

  .showListLc{
    display: none;
  }

  .padd-footer{
    padding: 10px;
  }

  .list-footer{
    padding: 40px 0 0 0 ;
  }

  .hamburguer{
    display: block !important;
  }

  .logoNavBar{
    // margin-left: 30px;
    width: 100px;
    height: 50px;
  }

  .container-base {
    width: 100%;
  }




}

@media (max-width: 1365px) and (min-width: 961px){



  .hSubBlueContainer-cursos{
    height: 1350px;
    background-color: #E4F9FF;
  }
  .loginStyleText{
    font-size: 30px;
    font-weight: 450;
    margin-right: 20px;
  }
}

@media (max-width: 960px) and (min-width: 577px){

  .widthButton{
    width: 30%!important;
  }

  .displayCelSkip{
    display: block;
    margin: 0px!important;
  }

  .container-side-video{
    width: 100%;
    cursor: pointer;
  }

  .display-cel{
    display: none;
  }

  .display-cel-on {
    display:block;
  }



  .margin-form-buy{
    margin-top: 200px;
  }

  .hSubBlueContainer-purchase-ticket {
    min-height: 2100px;
    background-color: #E4F9FF;
  }

  .hSubBlueContainer-purchase-card {
    min-height: 1350px;
    background-color: #E4F9FF;
  }

  .about-contact-text-about {
    height: 400px;

  }

  .hSubBlueContainer-cursos{
    height: 1350px;
    background-color: #E4F9FF;
  }


  .hSubBlueContainer-panel-courses{
    height: 1350px;

    background-color: #E4F9FF;
  }

  .contact-certificate-height-label{
    height: 80px;
    color:#FE4E4E;
  }

  .contact-about-height-label{
    height: 100px;
    color:#FE4E4E;
  }

  .contact-about-height-label-courses{
    height: 200px;
    color:#FE4E4E;
  }

  .panel-head-font{
    font-size: 30px;
    font-weight: 500;
  }

  .panel-text-font{
    font-size: 25px;
    font-weight: 500;
    line-height: 150%;
  }


  .panel-row{
    background-color: transparent;
    height: 300px;
    padding: 50px 40px 50px 170px;
    width: 100%;
  }

  .hSubBlueContainer{
    height: 900px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .redContainer{
    height: 1030px;
    background-color: #FE4E4E;
    width: 100%;
    padding: 60px 75px 200px 75px;
  }
  .boxRegister{
    background-color: white;
    border-radius: 54px;
    height: 775px;
    width: 800px;
  }

}

@media (max-width: 768px) and (min-width: 578px){

  .container-buttons-video{
    background-color: white;
    height: 100px;
    width: 105%;
    align-content: center;

  }


  .course-video-button{
    background-color: #FE4E4E;
    width: 125px;
    height: 40px;
    color:white;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0 6px 4px -7px black;
    font-weight: 500;
  }

  .hSubBlueContainer-panel{
    height: 1000px;
    background-color: #E4F9FF;
  }

  .hSubBlueContainer{
    height: 640px !important;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .panel-label-size{
    font-size: 30px;
    font-weight: 500;
    line-height: 150%;
  }

  .panel-text-size{
    font-size: 25px;
    font-weight: 500;
    line-height: 150%;
  }

  .about-contact-head{
    background-color: transparent;
    height: 150px;
    padding: 50px 40px 50px 40px;
    width: 100%;
  }

  .about-contact-text-cont{
    height: 185px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-cont-email{
    height: 90px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-about{
    height: 300px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }
}

@media (max-width: 576px){

  .widthButton{
    width: 30%!important;
  }

  .displayCelSkip{
    display: block;
    margin: 0px!important;
  }


  .container-side-video{
    width: 100%;
    cursor: pointer;
  }

  .display-cel-on {
    display:block;
  }


  .container-buttons-video{
    background-color: white;
    height: 100%;
    width: 105%;
    align-content: center;

  }

  .course-video-button{
    background-color: #FE4E4E;
    width: 125px;
    height: 40px;
    color:white;
    margin:10px;

    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0 6px 4px -7px black;
    font-weight: 500;
  }


  .display-cel{
    display: none !important;
  }


  .margin-form-buy{
    margin-top: 200px;
  }

  .ticketOrCard-box{
    width: 300px;

  }

  .font-size-ticketOrCard{
    font-size: 17px;
    font-weight:450;
  }

  .hSubBlueContainer-purchase-card {
    min-height: 1500px;
    background-color: #E4F9FF;
  }

  .hSubBlueContainer-purchase-ticket {
    min-height: 2100px;
    background-color: #E4F9FF;
  }

  .contact-about-height-label-courses{
    height: 200px;
    color:#FE4E4E;
  }

  .hSubBlueContainer-cursos{
    height: 2400px;
    background-color: #E4F9FF;
  }

  .hSubBlueContainer-panel-courses{
    height: 1350px;

    background-color: #E4F9FF;
  }

  .panel-head-font{
    font-size: 25px;
    font-weight: 500;
  }

  .panel-text-font{
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }


  .contact-about-height-label{
    height: 100px;
    color:#FE4E4E;
  }

  .contact-certificate-height-label{
    height: 80px;
    color:#FE4E4E;
  }

  .panel-label-size{
    font-size: 25px;
    font-weight: 500;
    line-height: 150%;
  }

  .panel-text-size{
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }

  .break-email{
    display: block;
  }

  .about-contact-head{
    background-color: transparent;
    height: 150px;
    padding: 50px 40px 50px 40px;
    width: 100%;

  }

  .panel-section{
    height: 600px;
    background-color: transparent;
    padding: 50px 50px 50px 50px;
  }



  .panel-row{
    background-color: transparent;
    height: 300px;
    padding: 50px 50px 50px 50px;
    width: 100%;
  }

  .hSubBlueContainer{
    height: 1050px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }


  .boxLogin{
    background-color: white;
    border-radius: 12px;
    height: 600px;
    width: 350px;
  }

  .boxRegister{
    background-color: white;
    border-radius: 54px;
    height: 775px;
    width: 345px;
  }


  .redContainer{
    height: 937px;
    background-color: #FE4E4E;
    width: 100%;
    padding: 60px 75px 200px 75px;
  }

  .headerLogin{
    text-align: left;
    height: 130px;
  }

  .mat-form-field {
    display: block !important;
    position: relative !important;
    text-align: left;
  }

  .hRedContainer{
    height: 700px;
    background-color: #FE4E4E;
    width: 100%;
    padding: 150px 75px 200px 75px;
  }


  .hYourText{
    background-color: transparent;
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 62px;
  }

  .hYourText2{
    background-color: transparent;
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }

  .hAboutText{
    background-color: transparent;
     color:#F95050;
     text-align: center;
     vertical-align: middle;
     line-height: 60px;
  }

  .hAboutText2{
    background-color: transparent;
     color:#F95050;
     text-align: center;
     vertical-align: middle;
     line-height: 40px;
  }

  .hCertificateText{
    background-color: transparent;
    color:#F95050;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }


  .hCertificateText2{
    background-color: transparent;
    color:#F95050;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }

  .hTextSize{
    font-size: 60px;
    font-weight: bold;
  }

  .hTextSize2{
    font-size: 20px;
    font-weight: bold;
  }

  .hTextSize3{
    font-size: 40px;
    font-weight: bold;
  }

  .button-register-adm{
    font-size: 20px;
    width: 225px;
    border-radius: 30px;
  }


}

@media (max-width: 576px) and (min-width: 415px){

  .hSubBlueContainer-about{
    height: 1050px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .about-contact-text-about{
    height: 380px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

}

@media (max-width: 414px) and (min-width: 376px){

  .hSubBlueContainer-about{
    height: 750px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }



  .about-contact-text-about{
    height: 400px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }
}

@media (max-width: 576px) and (min-width: 376px){


  .about-contact-text-cont{
    height: 200px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .hSubBlueContainer{
    height: 580px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .about-contact-text-cont-email{
    height: 100px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }



}

@media (max-width: 375px) and (min-width: 360px){

  .hSubBlueContainer-about{
    height: 750px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .hSubBlueContainer{
    height: 650px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .about-contact-text-about{
    height: 450px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-cont{
    height: 225px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-cont-email{
    height: 100px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }
}

@media (max-width: 360px) and (min-width: 321px){

  .hSubBlueContainer-about{
    height: 750px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .hSubBlueContainer{
    height: 630px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .about-contact-text-cont{
    height: 230px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-cont-email{
    height: 10  0px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-about{
    height: 450px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

}

@media (max-width: 320px) and (min-width: 281px){

  .hSubBlueContainer-about{
    height: 800px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .hSubBlueContainer{
    height: 600px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .about-contact-text-cont{
    height: 250px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-cont-email{
    height: 100px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-about{
    height: 525px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;

    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }
}

@media (max-width: 576px) and (min-width: 281px){

  .hSubBlueContainer-panel{
    height: 1000px;
    background-color: #E4F9FF;
  }

  .hRedContainerHeader{
    height: 130px;
    background-color: #FE4E4E;
    width: 100%;
    padding: 50px 60px 50px 60px;
    color: white;
    font-weight: 400;
    font-size: 40px;
    // padding: 150px 75px 200px 75px;
  }

}

@media (max-width: 280px){

  .hSubBlueContainer-about{
    height: 650px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .hSubBlueContainer{
    height: 530px;
    background-color: #E4F9FF;
    // padding: 150px 75px 200px 75px;
  }

  .redContainer{
    height: 960px;
    background-color: #FE4E4E;
    width: 100%;
    padding: 60px 75px 200px 75px;
  }

  .about-contact-text-cont{
    height: 170px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .about-contact-text-cont-email{
    height: 100px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .panel-row{
    background-color: transparent;
    height: 300px;
    padding: 50px 10px 50px 10px;
    width: 100%;
  }

  .hRedContainerHeader{
    height: 130px;
    background-color: #FE4E4E;
    width: 100%;
    padding: 50px 25px 50px 25px;
    color: white;
    font-weight: 400;
    font-size: 40px;
    // padding: 150px 75px 200px 75px;
  }

  .about-contact-text-about{
    height: 370px;
    color:#FE4E4E;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 6px 4px -7px black;
  }

  .panel-label-size{
    font-size: 20px !important;
    font-weight: 500;
    line-height: 150%;
  }

  .panel-text-size{
    font-size: 15px !important;
    font-weight: 500;
    line-height: 150%;
  }

  .hSubBlueContainer-panel{
    height: 1000px;
    background-color: #E4F9FF;
  }

  .panel-head-font{
    font-size: 25px;
    font-weight: 500;
  }

  .panel-text-font{
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }


  .button-register-adm{
    font-size: 15px;
    width: 150px;
    border-radius: 30px;
  }


}

