
<div style="width:820px; height:520px; border-radius: 30px 55px 30px 60px;
 background-color: white; box-shadow: 0 7px 6px -7px black;"  >

  <iframe width="800" height="500"
  [src]="urlVideo" title="YouTube video player"
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
  picture-in-picture" allowfullscreen style="box-shadow: 0 11px 10px -9px black; border-radius: 30px;"></iframe>

  <div *ngIf="truee == true" class="row container-buttons-video" style="background-color: transparent; text-align: center; margin-top: 30px;" >

    <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4" >

      <button  type="button" class="btn course-video-button" style=" width:200px; "
      [routerLink]="['/coursesInterface/',nomeCurso,videoCap.id_curso,'addVideo',idVideo,idEtapa]" [routerLinkActive]="['is-active-button']">
      <i class="fa fa-plus" aria-hidden="true"> </i>Adicionar
      </button>

    </div>

    <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4">

      <button  type="button" class="btn course-video-button" style=" width:200px;"
      [routerLink]="['/coursesInterface/',nomeCurso,videoCap.id_curso,'editVideo',idVideo,idEtapa]" [routerLinkActive]="['is-active-button']">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
      </button>

    </div>

    <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4">

      <button type="button" class="btn course-video-button" style=" width:200px;" (click)=" openDialog()">
        <i class="fa fa-ban" aria-hidden="true" ></i> Excluir</button>

    </div>

  </div>

</div>
