<div id="overFhidden">
  <mat-toolbar *ngIf="mostrarMenu">
    <button
      class="hamburguer"
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>

    <div class="row">
      <div class="example-spacer-img showLogo col-lg-1 col-md-1 mx-auto">
        <img class="logoNavBar" src="../assets/images/suaLogo.png" />
      </div>

      <div class="offset-lg-5 col-lg-5 col-md-6 mx-auto-on showList">
        <ul class="list-unstyled" id="navbar-inline">
          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a" [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
          </li>
          <li class="example-spacer" routerLinkActive="active">
            <a
              class="modify-a"
              [routerLink]="['/cursos']"
              [routerLinkActive]="['is-active']"
              >Curso(s)</a
            >
          </li>
          <!-- <li class="example-spacer"  routerLinkActive="active" >
              <a class="modify-a" [routerLink]="['/curso/', idCurso.value]">Curso com ID</a>
            </li> -->

          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a" [routerLink]="['/painel']" [routerLinkActive]="['is-active']">Meu Painel</a>
          </li>
          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a" [routerLink]="['/contato']" [routerLinkActive]="['is-active']">Contato</a>
          </li>
          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a" [routerLink]="['/sobre']" [routerLinkActive]="['is-active']">Sobre</a>
          </li>
          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a"  [routerLink]="['/validarCertificado']" [routerLinkActive]="['is-active']">Certificado</a>

          </li>
        </ul>
      </div>
    </div>
    <div>
      <a
        class="modify-a showListLc"
        style="margin-right: 10px"
        [routerLink]="['/home']"
        [routerLinkActive]="['is-active']"
        (click)="out()"
        ><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a
      >
    </div>
  </mat-toolbar>

  <mat-toolbar *ngIf="!mostrarMenu" >
    <button
      class="hamburguer"
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>

    <div class="row">
      <div class="example-spacer-img showLogo col-lg-1 col-md-1 mx-auto">
        <img class="logoNavBar" src="../assets/images/suaLogo.png" />
      </div>

      <div class="offset-log-7 col-lg-5 col-md-6 mx-auto-off showList">
        <ul class="list-unstyled" id="navbar-inline">
          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a" [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
          </li>
          <li class="example-spacer" routerLinkActive="active">
            <a
              class="modify-a"
              [routerLink]="['/cursos/home']"
              [routerLinkActive]="['is-active']"
              >Curso(s)</a
            >
          </li>
          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a" [routerLink]="['/contato']" [routerLinkActive]="['is-active']">Contato</a>
          </li>
          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a" [routerLink]="['/sobre']" [routerLinkActive]="['is-active']">Sobre</a>
          </li>
          <li class="example-spacer" routerLinkActive="active">
            <a class="modify-a"  [routerLink]="['/validarCertificado']" [routerLinkActive]="['is-active']">Certificado</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <a
        class="modify-a showListLc"
        style="margin-right: 10px"
        [routerLink]="['/login']"
        [routerLinkActive]="['is-active']"
        >Login</a
      >
      <a
        class="modify-a showListLc"
        style="margin-left: 5px"
        [routerLink]="['/cadastro']"
        [routerLinkActive]="['is-active']"
        >Cadastre-se</a
      >
    </div>
  </mat-toolbar>

  <mat-sidenav-container autosize >
    <mat-sidenav #sidenav="matSidenav" >
      <button mat-button class="menu-button">
        <span class="textSizeHamb" [routerLink]="['/home']" (click)="sidenav.toggle()">Home</span>
      </button>
      <hr />
      <button mat-button class="menu-button">
        <span class="textSizeHamb" [routerLink]="['/cursos/home']" (click)="sidenav.toggle()">Cursos</span>
      </button>
      <hr />
      <button mat-button class="menu-button" *ngIf="mostrarMenu">
        <span class="textSizeHamb" [routerLink]="['/painel']" (click)="sidenav.toggle()">Meu Painel</span>
      </button>
      <hr *ngIf="mostrarMenu" />
      <button mat-button class="menu-button" *ngIf="!mostrarMenu">
        <span class="textSizeHamb" [routerLink]="['/login']" (click)="sidenav.toggle()">Login</span>
      </button>
      <hr *ngIf="!mostrarMenu" />
      <button mat-button class="menu-button" *ngIf="!mostrarMenu">
        <span class="textSizeHamb" [routerLink]="['/cadastro']" (click)="sidenav.toggle()"
          >Cadastre-se</span
        >
      </button>
      <hr *ngIf="!mostrarMenu" />
      <button mat-button class="menu-button">
        <span class="textSizeHamb" [routerLink]="['/contato']" (click)="sidenav.toggle()">Contato</span>
      </button>
      <hr />
      <button mat-button class="menu-button">
        <span class="textSizeHamb" [routerLink]="['/sobre']" (click)="sidenav.toggle()">Sobre</span>
      </button>
      <hr />
      <button mat-button class="menu-button" *ngIf="mostrarMenu">
        <span class="textSizeHamb" [routerLink]="['/validarCertificado']" (click)="sidenav.toggle()"
          >Certificado</span
        >
      </button>
      <hr *ngIf="mostrarMenu" />
      <button mat-button class="menu-button">
        <span class="textSizeHamb" [routerLink]="['/home']" (click)="out()" (click)="sidenav.toggle()">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Sair</span>

      </button>
    </mat-sidenav>

    <section>
      <!-- <button (click)="mostrarMenuChange()">Navbar: {{ mostrarMenu }}</button> -->
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </section>
  </mat-sidenav-container>

  <!--
    <section id="seiLa" *ngIf="opened">
          <button (click)="mostrarMenuChange()">Navbar</button>
          <router-outlet></router-outlet>

    </section> -->

  <section>
    <footer class="footerStyle footerHeight">
      <div class="container-base" style="text-align: center;">

            <ul class="list-unstyled list-footer"  id="navbar-inline">
              <li class="example-spacer footer-button" [routerLink]="['/sobre']">Sobre</li>
              <li class="example-spacer footer-button" [routerLink]="['/cursos/home']">Cursos</li>
              <li *ngIf="mostrarMenu" class="example-spacer footer-button" [routerLink]="['/painel']">Meu Painel</li>
            </ul>
      </div>

    </footer>
    <footer class="footerSecondStyle footerSecondHeight">
      <div class="container-base" style="text-align: center; display: flex">

          <div class="col-lg-12 col-md-12">
            <p>QUER UM SITE IGUAL A ESTE?<br>CONTATO:(00) 00000-0000</p>
          </div>
        </div>
    </footer>
  </section>
</div>
