<div class="container-base hRedContainerHeader">
  <label >Validar Certificado</label>
</div>

<div class="container-base hSubBlueContainer">

  <div class="about-contact-head">
    <div class="contact-certificate-height-label">
      <p class="panel-label-size" style="color: rgb(95, 95, 95);">Validação de certificado</p>
    </div>

      <p class="panel-text-size" style="color: rgb(95, 95, 95);">Informe o código do certificado no campo abaixo</p>


    <div class="text-valid-certificate">
    <label style="color: rgb(95, 95, 95);">Código do certificado</label>
    <input class="input-valid-certificate"/>
    </div>

    <div style="margin-top: 30px; ">
      <button class="btn panel-button" style="background-color: #6cb575; color: white">Validar</button>
    </div>

  </div>


</div>
