<div class="container-base hRedContainer" >

  <div class="container-text hYourText">

      <label class="hTextSize" >Paixão é<br>APRENDER</label>


  </div>

  <div class="container-text hYourText2">

    <label class="hTextSize2">Seu ideal começa aqui!</label>

  </div>

  <div class="container-text hYourTextButton">
    <button style="margin:5px" type="button"
    style="font-size: 20px; width: 160px; border-radius: 30px;
    color: white; box-shadow: 0 6px 4px -7px black; font-weight: 550; " class="btn btn-info"
    [routerLink]="['/cursos']" [routerLinkActive]="['is-active']" >Começar</button>
  </div>

</div>

<!-- ------------------------------------------------------------Sobre--------------------------------------------------------------------- -->

<div type="button" class="container-base hBlueContainer">

  <div class="container-text hAboutText" >

    <label class="hTextSize">Conhecimento é<br>LIBERDADE</label>

  </div>

  <div class="container-text hAboutText2">

    <label  class="hTextSize2" >Saiba tudo e mais um pouco sobre os MELHORES<br>cursos disponiveis no mercado.</label>

  </div>

  <div class="container-text hAboutKnowMore">
    <button style="margin: 5px" type="button"
    style="font-size: 20px; width: 160px; border-radius: 30px;
     box-shadow: 0 6px 4px -7px black; font-weight: 550; " class="btn btn-info"
    [routerLink]="['/sobre']" [routerLinkActive]="['is-active']">Saiba mais</button>
  </div>

<!-- ------------------------------------------------------------spacing--------------------------------------------------------------------- -->
  <div class="container-text hSpacing"></div>
<!-- ------------------------------------------------------------spacing--------------------------------------------------------------------- -->

  <div class="container-text hCertificateText">

    <label  class="hTextSize3" >OBTENHA<br> SEU<br>CERTIFICADO</label>

  </div>

  <div class="container-text hCertificateText2">

    <label  class="hTextSize2" >Aqui voce pode verificar seu certificado<br>rápido e facíl</label>

  </div>

  <div class="container-text hCertificateButton">
    <button style="margin: 5px" type="button"
    style="font-size: 20px; width: 250px; border-radius: 30px;
     box-shadow: 0 6px 4px -7px black; font-weight: 550;" class="btn btn-info"

    [routerLink]="['/validarCertificado']" [routerLinkActive]="['is-active']" >Verificar Certificado</button>
  </div>

</div>

<!-- ----------------------------------------------------------certificado--------------------------------------------------------------------- -->

